<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:resources/jdbc.properties</value>
		</property>
	
	</bean>


	<!--프로퍼티즈 만들어놨으니까 불러와서 채워주는 식으로 해라!   -->
	<!--<bean id="dataSource"  class="org.apache.commons.dbcp.BasicDataSource">  -->
	<beans:bean id="dataSource"  class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<beans:property name="driverClassName"  value="${driver}"/>
		<beans:property name="url" value="${url}"/>
		<beans:property name="username" value="${username}"/>
		<beans:property name="password" value="${password}"/>
	</beans:bean>	
	<!-- 134 page -->
	<bean id="userDAO2" class="com.bit.jdbc.UserDAOImpl2">
		<property name="dataSource"  ref="dataSource"/>
	</bean>
</beans>